<!DOCTYPE html>
<html lang ="en">    
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <style>
    </style>
    <body>
        <a href="/" style="color: #ffffff">Home</a>
        <br>
        <a href="add_details" style="color: #ffffff">Add Details</a>
        <br>
        <a href="deals" style="color: #ffffff">Deals</a>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align:center">About BristoLunch</h1>
        <br>
        <br>
        <h1 style="text-align:center"> Lunchtime deals and places to eat in Bristol!</h1>
        <p style="text-align:center">An in development WebApp with a database of places to eat in Bristol and lunchtime deals</p>
    </body>

</html>