<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Details</title>
    </head>
    <body style= "background-color:#3b5773">
        <a href="/" style="color: #ffffff">Home</a>
        <br>
        <a href="about" style="color: #ffffff">About BristoLunch</a>
        <br>
        <a href="deals" style="color: #ffffff">Deals</a>
        <br>
        <h1 style="font-size:50px;"><div style="color:#ffffff;">Add Details</div></h1>
            
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
            <form method="POST" name="detailform">
                <div style="color:#ffffff;">Name </div> <input type="text" name="name">
            <br>
            <br>
                <div style="color:#ffffff;">Address </div><input type="text" name="address">
            <br>
            <br>
                <label for="cuisine"><div style="color:#ffffff;">Cuisine </div></label>
                <select name="cuisine" id="cuisine">
                    <option value="African">African</option>   
                    <option value="Asian">Asian</option>   
                    <option value="British">British</option>
                    <option value="Burgers">Burgers</option>
                    <option value="Cafe">Cafe</option>
                    <option value="Chinese">Chinese</option>   
                    <option value="Carribean">Carribean</option>
                    <option value="Greek">Greek</option>
                    <option value="Halal">Halal</option>   
                    <option value="International">International</option>  
                    <option value="Indian">Indian</option>    
                    <option value="Italian">Italian</option>   
                    <option value="Japanese">Japanese</option>   
                    <option value="Korean">Korean</option>   
                    <option value="Lebanese">Lebanese</option>   
                    <option value="Mediterranean">Mediterranean</option>   
                    <option value="Mexican">Mexican</option> 
                    <option value="Pizza">Pizza</option>
                    <option value="Street_Food">Street_Food</option>  
                    <option value="Vegetarian">Other</option>
                    <option value="Other">Other</option>                       
                </select>
            <br>
            <br>
                <label for="price_range"><div style="color:#ffffff;">Price Range </div></label>
                <select name="price_range" id="price_range">
                    <option value="£-££">£-££</option>   
                    <option value="££-£££">££-£££</option>   
                    <option value="£££-££££">£££-££££</option>
                    <option value="£££££+">£££££+</option>
                </select>
            <br>
            <br>
                <div style="color:#ffffff;">Website </div><input type="text" name="webpage">
            <br>
            <br>
                <div style="color:#ffffff;">Opening Hours </div><input type="text" name="opening_times">
            <br>
            <br>
            <br>
            <br>
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>