<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <meta charset="utf-8">
    </head>
    <body>
        <a href="about">About Bristolunch</a>
        <br>
        <a href="add_details">Add Details</a>
        <br>
        <a href="deals">Today's Deals</a>
        <h1></h1>
        <p>Select Day</p>
        <label for="days">Select Day</label>
        <select name="days" id="days">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
        </select>
        <a href="about.html"></a> <br /><br />
        <form name="searchform" method="POST">
            Title: <input type="text" name="searchedplace"> <br /><br />
            <br />OR<br />
            Star-Rating: <input type="number" min="0" max="5" value="0"/>
            <input type="submit" name="searchsubmitbutton">
        </form>
    </body>
</html>
