<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body style= "background-color:#3b5773">
        <a href="/" style="color: #ffffff">Home</a>
        <br>
        <a href="about" style="color: #ffffff">About BristoLunch</a>
        <br>
        <a href="add_details" style="color: #ffffff">Add Details</a>
        <br>

        <h1 style="font-size:50px;"><div style="color:#ffffff;">Search Deals</div></h1>
        <br>
        <label for="days"><div style="color:#ffffff;">Select Day</div</label>
        <select name="days" id="days">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
        </select>
        <a href="about.html"></a> <br /><br />
     
        <form method="POST" name="detailform">
            <div style="color:#ffffff;">Name </div> <input type="text" name="name">
            <br>
            <br>
            <label for="cuisine"><div style="color:#ffffff;">Cuisine </div></label>
            <select name="cuisine" id="cuisine">
                <option value="African">African</option>   
                <option value="Asian">Asian</option>   
                <option value="British">British</option>
                <option value="Burgers">Burgers</option>
                <option value="Cafe">Cafe</option>
                <option value="Chinese">Chinese</option>   
                <option value="Carribean">Carribean</option>
                <option value="Greek">Greek</option>
                <option value="Halal">Halal</option>   
                <option value="International">International</option>  
                <option value="Indian">Indian</option>    
                <option value="Italian">Italian</option>   
                <option value="Japanese">Japanese</option>   
                <option value="Korean">Korean</option>   
                <option value="Lebanese">Lebanese</option>   
                <option value="Mediterranean">Mediterranean</option>   
                <option value="Mexican">Mexican</option> 
                <option value="Pizza">Pizza</option>
                <option value="Street_Food">Street_Food</option>  
                <option value="Vegetarian">Other</option>
                <option value="Other">Other</option>                       
            </select>
            <br>
            <br>
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>
