<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bristolunch</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <meta charset="utf-8">
    </head>
    <body>
        <a href="about">About Bristolunch</a>
        <br>
        <a href="deals">Today's Deals</a>
        <br>
        <a href="add_details">Add Details</a>
        <h1>Welcome to Bristolunch</h1>
        <p>A dedicated web-app to helping find the best places to eat, for the cheapest prices in Bristol!</p>
    </body>
</html>