<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <meta charset="utf-8">
    </head>
    <body>
        <a href="about">About Bristolunch</a>
        <br>
        <a href="add_details">Add Details</a>
        <br>
        <a href="deals">Today's Deals</a>
        <h1></h1>
        <a href="about.html"></a> <br /><br />
        <form name="searchform" method="POST">
            Name: <input type="text" name="searchedplace"> <br /><br />
            <br />OR<br />
            Star-Rating: <input type="number" min="0" max="5" value="0"/>
            <input type="submit" name="searchsubmitbutton">
        </form>
    </body>
</html>